*{
    box-sizing: border-box;
   }
   body{
       margin: 0;
       padding: 0;
   }
   .video-cont{
    width: 100vw;
    height: 100vh;
    background-color: black;
   }
   .action-cont{
        
        height: 12rem;
        width: 5rem;
        position:absolute;
        top: calc((100vh - 12rem)/2);
        left: calc(100vw - 10rem);
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 2;
   }
   .recorder-btn{
        background-color: brown;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
   }
   .capture-btn{
    background-color:white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
   }
   .action-cont>*{
    width: 100%;
    height: 5rem;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 5px solid white;
    align-items: center;
   }
   .timer-cont{
    position: absolute;
    bottom: 4rem;
    left: 3rem;
    color: white;
    z-index: 2;
   }
   .filter-cont{
    height: 16rem;
    width: 5rem;
    background-color: brown;
    position:absolute;
    top: calc((100vh - 16rem)/2);
    z-index: 2;
    left: 3rem;

   }
   .filter{
    height: 4rem;
    background-image: url("https://picsum.photos/id/237/200/300");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-blend-mode: color-burn;
    
   }
   .orange{
        background-color: rgb(86, 61, 16);
   }
   .brown{
        background-color: rgb(194, 122, 122);
   }
   .pink{
        background-color: rgb(214, 171, 178);
   }
   .transparent{
        background-color: transparent;
   }
   .filter-layer{
    height: 100vh;
    width: 100vw;
    z-index: 1;
   
    position: absolute;
    top: 0;
    left: 0;
    
   }
   #gallery-button{
    position: fixed;
    top: 78vh;
    left: 87vw;
    z-index: 2;
    /* height: 3rem; */
    /* width: 3rem; */
    background-color: lightgray;
    outline: none;
    border: none;
    font-size: 3rem;
   }
   